:root{
    --cor0: rgba(22, 94, 94, 0.404);
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    align-content: center;
}

.x-large{
    font-size: 3.5rem;
}

.large{
    font-size: 2rem;
}

.normal{
    font-size: 1.2rem;
}

#container{
    max-width: 1000px;
    display: grid;
    padding: 15px;
    grid-gap: 5rem;
    margin: auto;
}

#header {
    width: 100%;
    background-color: var(--cor0);
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: right;
    overflow: hidden;
}

.sticky{
    position: fixed;
    top: 0;
    width:inherit;
}

.sticky + #container{
    padding-top: 10rem;
}

#logo{
    text-align: left;
    padding: 1.5rem;
}

#container > div{
    gap: 1rem;
}

#home{
    display: grid;
}

#home .content{
    display: grid;
    grid-template-columns: 20% 80%;
}

#home .left-side{
    position: relative;
    top: 8rem;
}

#home .left-side ul li{
    margin-bottom: 2rem;
}

ul li{
    list-style: none;
    margin: 0.5rem;
}

ul li a{
    text-decoration-line: none;
    border-radius: 1rem;
    padding: 0.4rem;
    transition: all 0.5s ease;
}

ul li a:last-child{
    margin-right: 2rem;
}

#nav-bar ul li{
    display: inline;
    border-radius: 2rem;
}

#nav-bar ul li a:hover{
    background-color: rgb(248, 248, 248);
    display: inline;
    padding: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#main{
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 50%;
}

button{
    display: inline-block;
    border-radius: 0.4rem;
    border: none;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    width: 12rem;
}

button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:hover{
    background-color: var(--cor0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover span{
    padding-right: 25px;
}

button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span:after{
    opacity: 1;
    right: 0;
}

#skills{
    display: grid;
}

#skills .right-side {
    padding: 2rem;
}

.title{
    text-align: center;
    display: none;
}

#skills .left-side{
    text-align: right;
    position: relative;
    right: 5rem;
}

#skills .content{
    display: grid;
    grid-template-columns: 50% 50%;
}

#skills .left-side ul li{
    padding: 1rem;
    position: relative;
    top: 4rem;
}

#skills .right-side ul li{
    padding: 0.12rem;
    display: inline;
}

#contact{
    display: grid;
}

#contact .content{
    display: grid;
    grid-template-columns: 40% 60%;
}

.message{
    text-align: center;
}

.message p {
    position: relative;
    left: 4.3rem;
    text-align: left;
}

.value{
    position: relative;
    top: -1rem;
    left: 2.8rem;
}

.icon{
    position: relative;
    top: 0.3rem;
}

form{
    align-items: center;
}

input{
    border: none;
    background-color: aqua;
}

#name{
    position: relative;
    left: -0.5rem;
    width: 14.5rem;
    min-height: 5rem;
    border-radius: 0.5rem;
}

#email{
    position: relative;
    right: -0.5rem;
    width: 14.5rem;
    min-height: 5rem;
    border-radius: 0.5rem;
}

#subject{
    position: relative;
    top: 1.4rem;
    width: 30.7rem;
    min-height: 5rem;
    border-radius: 0.5rem;
}

#description{
    position: relative;
    top: 2.5rem;
    width: 30.7rem;
    min-height: 10rem;
    border-radius: 0.5rem;
}

#send-message{
    position: relative;
    top:3rem;
}

.content{
    align-content: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#home, #skills, #contact{
    height: 100vh;    
} 

#footer{
    background-color: var(--cor0);
    position: relative;
    top: 6rem;
    display: grid;
    grid-template-rows: 70% 30%;
    padding: 2rem;
    border-radius: 1rem;
}

#name-social{
    display: grid;
    grid-template-columns: 30% 70%;
}

#footer ul li{
    position: relative;
    float:right;
    display: center;
    margin: 1rem;
}

#arr{
    display: inline;
    text-align: center;
}

.highlight{
    background-color: #fff;
    display: inline;
    padding: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}