:root{
    --cor0: rgb(4, 114, 114);;
}

*{
    scroll-behavior: smooth;
    /*box-sizing: border-box;*/
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    align-content: center;
}

.x-large{
    font-size: 1.5rem;
}

.large{
    font-size: 1.2rem;
}

.normal{
    font-size: 1rem;
}

img{
    border-radius: 1rem;
}

#container{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    margin: auto;
}

#header {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--cor0);
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    overflow: hidden;
}

#logo{
    flex-grow: 6;
    text-align: left;
    padding: 1.5rem;
}

.sticky{
    position: fixed;
    top: 0;
    width:inherit;
}

.sticky + #container{
    padding-top: 10rem;
}

#container > div{
    gap: 1rem;
}

#home{
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    align-items: center;
    width: 100%;
    align-content: center;
    box-shadow: 0 12px 16px 0 rgba(85, 50, 50, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    margin: 2rem;
    margin-top: 5rem;
    background-color: rgb(4, 114, 114);
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title{
    text-align: center;
}

ul li{
    list-style: none;
    margin: 0.5rem;
}

ul li a{
    text-decoration-line: none;
    border-radius: 1rem;
    padding: 0.4rem;
    transition: all 0.5s ease;
}

#nav-bar ul li{
    display: inline;
    border-radius: 2rem;
}

#nav-bar ul li a:hover{
    background-color: rgb(248, 248, 248);
    display: inline;
    padding: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#main{
    margin: 2rem;
    display: flex;
    padding: 2rem;
    justify-content: space-around;
}

button{
    display: inline-block;
    border-radius: 0.4rem;
    border: none;
    text-align: center;
    padding: 0.8rem;
    cursor: pointer;
    transition: all 0.5s;
    width: 10rem;
    margin: 1rem;
}

button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:hover{
    background-color: #E0FF00;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover span{
    padding-right: 25px;
}

button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span:after{
    opacity: 1;
    right: 0;
}

#skills{
    display: flex;
    flex-direction: column;
}

#skills .content{
    display: flex;
    align-items: center;
}

#skills .content ul{
    display: flex;
    flex-direction: column;
    width: 95%;
}

#interests .content ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#contact .content{
    display: flex;
}

.message{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-content: stretch;
}

.message form .big-res{
    display: flex;
}

input{
    border: none;
    padding: 2rem;
    margin: 1rem;
    justify-content: space-around;
    background-color: aqua;
    border-radius: 0.5rem;
}

.big-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#footer{
    display: flex;
    background-color: var(--cor0);
    padding: 0.5rem;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.highlight{
    background-color: #E0FF00;
    display: inline;
    padding: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.progress-bar{
    background-color:#E0FF00;
    border-radius: 0.5rem;
    width: 100%;
}

.progress-bar > div{
    background-color: rgb(163, 142, 142);
    padding: 1rem;
    border-radius: 0.5rem;
}

#css{ width: 57%;}

#php{ width: 43%;}

#html{width: 74%;}

#java{width: 68%;}

#js{width: 32%;}

#python{width: 37%;}

#sql{width: 81%;}